# -------------------------------- Service ---------------------------
service:
  name: gate
  port: 20107
  #
  # registered in the service center [zookeepr or etcd], exposed to the
  # external address information
  #
  address:
  #
  # service lbs strategy options[polling,hashing]
  #
  lbs: polling
# ---------------------------------- Network --------------------------
#
#tcp configuration
#tcp:
#  address: :3579
#  maxconnnum: 20000
#  pendingwritenum: 2000
#  lenmsglen: 2
#  minmsglen: 0
#  maxmsglen: 4096
#  littleendian: true
#websocket configuration
websocket:
  address: :28107
  maxconnnum: 20000
  pendingwritenum: 2000
  maxmsglen: 4096
  httptimeout: 10
  certfile:
  keyfile:
#http configuration
#http:
#  address: :8712
#  prefix: /aliens
# -------------------------------- Cache ---------------------------
cache:
  address: 127.0.0.1:6379
  password:
# ---------------------------------- Routes ---------------------------
#
# service name - message seq
#
routes: {passport: 1, game: 2, room: 3, hall: 8, scene: 9}
#
# ---------------------------------- Auth -----------------------------
#
auth:
  timeout: 60

